@tailwind base;
@tailwind components;
@tailwind utilities;


.all-centered-container {
    justify-content : center;
    align-items : center;
    display : flex !important;

}
.pointer {
    cursor: pointer;
}

.p-4 {
    padding: 1rem;
}

.bg-red-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 226 226 / var(--tw-bg-opacity)) /* #fee2e2 */;
}

.text-bold {
    font-weight: bold;
}

.text-semibold {
    font-weight: 600;
}

.flex-col {
    flex-direction: column;
}

.text-left {
    text-align: left;
}

.gap-1 {
    gap: 0.25rem /* 4px */;
}

.items-end {
    align-items: flex-end;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.rounded-md {
    border-radius: 0.375rem /* 6px */;
}

.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity)) /* #dc2626 */;
}

.px-3 {
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
}

.py-2 {
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
}

.text-sm {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:bg-red-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity)) /* #ef4444 */;
}

.bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity)) /* #4f46e5 */;
}

.ring-black\/5 {
    --tw-ring-color: rgb(0 0 0 / 0.05);
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity)) /* #111827 */;
}

.outline-gray-300 {
    outline-color: #d1d5db;
}

.placeholder\:text-gray-400::placeholder {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity)) /* #9ca3af */;
}

.focus\:-outline-offset-2:focus {
    outline-offset: -2px;
}

.focus\:outline-indigo-600:focus {
    outline-color: #4f46e5;
}

.absolute {
    position: absolute;
}

.z-10 {
    z-index: 10;
}

.overflow-auto {
    overflow: auto;
}

.py-1 {
    padding-top: 0.25rem /* 4px */;
    padding-bottom: 0.25rem /* 4px */;
}

@media (min-width: 640px) {
    .sm\:ml-3 {
        margin-left: 0.75rem /* 12px */;
    }
}

@media (min-width: 640px) {
    .sm\:w-auto {
        width: auto;
    }

    .sm\:text-sm {
        font-size: 0.875rem /* 14px */;
        line-height: 1.25rem /* 20px */;
    }
}