.MuiDataGrid-row.Mui-selected {
    background-color: var(--var-selected-background-color) !important;
}

.MuiDataGrid-toolbarContainer * {
    color: var(--varToolbarIconColor);
}

.MuiDataGrid-toolbarContainer > button {
    color: var(--varToolbarIconColor);

}

.MuiDataGrid-columnHeader {
    background-color: var(--varColumnHeaderBackgroundColor);
    color: var(--varColumnHeaderTextColor);
}

.MuiDataGrid-filler {
    background-color: var(--varColumnHeaderBackgroundColor) !important;
    color: var(--varColumnHeaderTextColor);
}