.MuiDataGrid-row.Mui-selected {
    background-color: var(--var-selected-background-color) !important;
}

.MuiDataGrid-toolbarContainer * {
    color: var(--varToolbarIconColor);
}

.MuiDataGrid-toolbarContainer > button {
    color: var(--varToolbarIconColor);

}

.MuiDataGrid-columnHeader {
    background-color: var(--varColumnHeaderBackgroundColor);
    color: var(--varColumnHeaderTextColor);
}

.MuiDataGrid-filler {
    background-color: var(--varColumnHeaderBackgroundColor) !important;
    color: var(--varColumnHeaderTextColor);
}

.evenRow {
    background-color: var(--evenRowFill)
}

.oddRow {
    background-color: var(--oddRowFill)
}

.evenRow:hover {
    background-color: oklch(from var(--evenRowFill) calc(l + 0.25) c h) !important;
}

.oddRow:hover {
    background-color: oklch(from var(--oddRowFill) calc(l + 0.25) c h) !important
}